
@{
    ViewBag.Title = "Contactos";
}
<br />
<hr />
<div style="position:fixed; top:20%; left:20%">
    @*#############################Tabela dos dados do autor#####################################################*@
    <table border="1">
        <tr style="font-weight:bold; font-family:Arial;">
            <td style="text-align:center; font-size:16px">
                Balbino Pinto <br />
                <img src="~/Content/Imagens/balbino.jpg" style="width:150px; height:150px;">
            </td>
            <td style="font-size:12px; text-align:right;">
                <br /><br /><br />
                <p>aluno nº 17933</p>
                <p>Disciplina de Tecnologia de Internet II</p>
                <p>Curso de Engenharia de Informatica</p>
                <p>Escola de Superior de Tecnologia de Tomar</p>
                <p>Instituto Politecnico de Tomar</p>
                <p>Professor José Casimiro Pereira</p>
            </td>
        </tr>
    </table>

    @*#############################Tabela dos contactos do autor#####################################################*@
    <br /><br />
    <table border="1">
        <tr>
            <td colspan="2" style="background-color:#00ffff; text-align:center; font-weight:bold">O meu contacto</td>
        </tr>
        <tr>
            <td>Local: </td>
            <td>
                Residençia IPT - Rua Estrada Serra Quinta Contador<br />

            </td>
        </tr>
        <tr>
            <td>Contactos: </td>
            <td>
                +351 965 222 005   <a href="https://www.facebook.com/Byynnoo" target="_blank"><img src="~/Content/Imagens/face.png" title="clique para ver a minha página do facebook" style="width:30px; height:30px;" /></a>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
