@{
    ViewBag.Title = "InforQui";
}

<body>
    <h1 class="paginaInicial">
        Bem-vindo ao InforQui<br /><br />
        <img src="~/Content/Imagens/InforQui1.png" style="width:400px; height:300px;" />
    </h1>
</body>