@{
    ViewBag.Title = "Sobre";
}

<table class="sobre">
    <tr>
        <td colspan="2" style="background-color:#00ffff; text-align:center; font-weight:bold">
            Descrição sobre InforQui
        </td>
    </tr>
    <tr>
        <td>
            <p>InforQui é uma empresa online que vende os instrumentos químicos que os alunos costumam usar nos laboratorios quimicos.</p>
        </td>
        <td>
            <img src="~/Content/Imagens/InforQui1.png" style="width:120px; height:120px;">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                Generalmente, o InforQui não vão vender todos os instrumentos quimicos, mas vender maioria dos instrumentos químicos.
                Esta empresa está situada na residênçia do IPT. O objetivo desta empresa é fasilitar os alunos que querem
                comprar os instrumentos químicos.
            </p>
        </td>
    </tr>
</table>
